* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: "DM Sans", sans-serif;
}

/* Reset CSS */

a {
  text-decoration: none;
  color: inherit;
}

button,
input,
textarea {
  font-family: "DM Sans", sans-serif;
  font-size: 16px;
}

button:focus,
button:active,
input:focus,
input:active,
textarea:focus,
textarea:active {
  box-shadow: none;
  outline: none;
}

ul,
ol,
li {
  list-style-type: none;
  padding-left: 0;
  margin-left: 0;
}

p {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.375;
  letter-spacing: -0.01em;
}

/* lending*/
.landing {
  width: 100%;
  height: 100vh;
  background-color: #fdded8;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.landing-tilte {
  font-size: 40px;
  font-weight: 700;
  line-height: 1;
  letter-spacing: -0.05em;
  margin-bottom: 24px;
}

.landing-desc {
  margin-bottom: 24px;
}

.landing-button a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 140px;
  height: 48px;
  border-radius: 2px;
  font-size: 15px;
  font-weight: 700;
  line-height: 1.6;
  letter-spacing: -0.05em;
}

.fill-button {
  background-color: #3040c4;
  color: white;
  margin-right: 5px;
}

.fill-button-inverted {
  background-color: white;
  color: #3040c4;
}

/* service */

.service {
  padding: 80px 0;
  background-color: #f4f5f7;
}

.service-title {
  font-size: 22px;
  letter-spacing: -0.04em;
  line-height: 1.5;
  color: #2b292d;
  margin-bottom: 16px;
}

.service .col-12:first-child {
  margin-bottom: 40px;
}

/* program */

.program {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  padding-top: 112px;
  padding-bottom: 80px;
}

header {
  color: #009b4d;
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 8px;
}

.program-title {
  font-size: 34px;
  line-height: 1.05882352941;
  letter-spacing: -0.03em;
  margin-bottom: 24px;
}

.program-desc {
  margin-bottom: 36px;
}

.img-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.img-group div {
  position: relative;
  width: 290px;
  height: 291px;
  border-radius: 8px;
  background-size: contain;
  background-size: 40%;
  background-position: center center;
  background-repeat: no-repeat;
  box-shadow: 5px 5px 6px #f0f0f0, -5px -5px 6px #ffffff;
  margin-bottom: 20px;
}

.img-group div:first-child {
  background-image: url("./assets/img-fulltime-campus.png");
}

.img-group div:nth-child(2) {
  background-image: url("./assets/img-fulltime-remote.png");
}

.img-group div:last-child {
  background-image: url("./assets/img-parttime-flex.png");
}

.img-group span {
  width: 290px;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  position: absolute;
  bottom: 36px;
}

/* Fix container width */
@media screen and (min-width: 1200px) {
  .container {
    max-width: 960px;
  }
}

@media screen and (min-width: 768px) {
  .landing-tilte {
    font-size: 70px;
    font-weight: 700;
    line-height: 1.02857142857;
  }

  .landing-desc {
    font-size: 22px;
    font-weight: 400;
    line-height: 1.45454545455;
  }

  .landing-button a {
    width: 160px;
    height: 56px;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.55555555556;
  }

  /* media-service */
  .service-title {
    font-size: 26px;
    font-weight: 700;
    line-height: 1.30769230769;
  }

  .service-desc {
    font-size: 22px;
    font-weight: 400;
    line-height: 1.45454545455;
  }

  .service .col-12:first-child {
    margin-bottom: 0;
  }
}
